<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CERTIFICADO DIGITAL</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-size: 1.25rem; /* Aumenta o tamanho da fonte */
        }
        .container {
            max-width: 600px; /* Limita a largura do container */
        }
    </style>
</head>
<body>
    <div class="container text-center"> <!-- Centraliza o texto -->
        <h2 class="mt-5">Vamos iniciar a emissão do seu <strong>CERTIFICADO DIGITAL</strong></h2>
        <form method="post" class="mt-5"> <!-- Adiciona margem superior -->
            {% csrf_token %}
            <div class="form-group">
                <label for="voucher_code">Insira seu Voucher</label>
                <input type="text" class="form-control form-control-lg" id="voucher_code" name="voucher_code" required> <!-- Aumenta o tamanho do campo de entrada -->
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Verificar Voucher</button> <!-- Aumenta o tamanho do botão e faz ele ocupar toda a largura -->
        </form>
    </div>
</body>
</html>