<!DOCTYPE html>
<html>
<head>
    <title>Não habilitado para videoconferência</title>
    <!-- Adicione o CSS do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body class="container">
    <h1 class="my-4">Desculpe, você não está habilitado para videoconferência</h1>
    <p>Para emitir seu certificado, você precisará fazê-lo presencialmente. Por favor, entre em contato com nosso suporte:</p>
    <ul class="list-group my-4">
      <!--  <li class="list-group-item">
            <a href="https://wa.me/551112345678" target="_blank">WhatsApp: (11) 1234-5678</a>
        </li>
        -->
        <li class="list-group-item">
            <a class="contact-link" href="https://s12.chatguru.app/_/comercial">Fale com o Suporte</a>
        </li>
        <!-- Adicione mais números conforme necessário -->
    </ul>
    <p>Agradecemos a sua compreensão.</p>
</body>
</html>