<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formulário</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        @media (max-width: 600px) {
            .container {
                padding: 10px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="mt-5">Preencha o Formulário</h2>

    <div class="progress mb-4">
        <div id="progressBar" class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <form id="dataForm" method="post" action="{% url 'form' slug=slug %}">
        {% csrf_token %}

        <div id="section1">
            <h3>Olá, por favor complete seus dados</h3>
            
            {% if voucher.tipo == 'ECNPJ' %}
                <div class="form-group">
                    <label for="nomeFantasia">Nome Fantasia</label>
                    <input type="text" class="form-control" name="nomeFantasia" value="{{ cliente.nome_fantasia }}" required>
                </div>
                <div class="form-group">
                    <label for="razaoSocial">Razão Social</label>
                    <input type="text" class="form-control" name="razaoSocial" value="{{ cliente.razao_social }}" required>
                </div>
                <div class="form-group">
                    <label for="cnpj">CNPJ</label>
                    <input id="cnpj" type="text" class="form-control" name="cnpj" value="{{ cliente.cnpj }}" required>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="nomeCompleto">Nome Completo</label>
                    <input type="text" class="form-control" name="nomeCompleto" value="{{ cliente.nome_completo }}" required>
                </div>
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input id="cpf" type="text" class="form-control" name="cpf" value="{{ cliente.cpf }}" required>
                </div>
            {% endif %}

            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" type="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
                <label for="telefone">Telefone (Whatsapp)</label>
                <input name="telefone" type="tel" class="form-control" id="telefone" value="{{ cliente.telefone }}" required>
            </div>
            <div class="form-group">
                <label for="possui_cnh">Possui CNH?</label>
                <select class="form-control" name="possui_cnh" id="possui_cnh" required>
                    <option value="">Selecione uma opção</option>
                    <option value="sim" {% if cliente.possui_cnh %}selected{% endif %}>Sim</option>
                    <option value="nao" {% if not cliente.possui_cnh %}selected{% endif %}>Não</option>
                </select>
            </div>

            {% if voucher.tipo == 'ECPF' %}
                <div class="form-group">
                    <label for="cep">CEP</label>
                    <input type="text" class="form-control" name="cep" id="cep" value="{{ cliente.cep }}" required>
                </div>
                <div class="form-group">
                    <label for="logradouro">Logradouro</label>
                    <input type="text" class="form-control" name="logradouro" id="logradouro" value="{{ cliente.logradouro }}" required>
                </div>
                <div class="form-group">
                    <label for="numero">Número</label>
                    <input type="text" class="form-control" name="numero" id="numero" value="{{ cliente.numero }}" required>
                </div>
                <div class="form-group">
                    <label for="complemento">Complemento</label>
                    <input type="text" class="form-control" name="complemento" id="complemento" value="{{ cliente.complemento }}">
                </div>
                <div class="form-group">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" name="bairro" id="bairro" value="{{ cliente.bairro }}" required>
                </div>
                <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" name="cidade" id="cidade" value="{{ cliente.cidade }}" required>
                </div>
                <div class="form-group">
                    <label for="uf">UF</label>
                    <input type="text" class="form-control" name="uf" id="uf" value="{{ cliente.uf }}" required>
                </div>
                <div class="form-group"></div>
                    <label for="uf">Cod IBGE</label>
                    <input type="text" class="form-control" name="cod_ibge" id="cod_ibge" value="{{ cliente.cod_ibge }}" required>
                </div>
                
            {% endif %}

            <div class="alert alert-info" role="alert">
                <strong>Atenção:</strong> Você precisará apresentar seus documentos (RG ou CNH) à equipe que entrará em contato com você pelo WhatsApp.
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>

<!-- Modal para CNPJ/CPF -->
<div class="modal fade" id="identificacaoModal" tabindex="-1" role="dialog" aria-labelledby="identificacaoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="{% url 'form' slug %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="identificacaoModalLabel">
                        {% if voucher.tipo == 'ECNPJ' %}
                            Informe seu CNPJ
                        {% else %}
                            Informe seu CPF
                        {% endif %}
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="identificacao">
                            {% if voucher.tipo == 'ECNPJ' %}
                                CNPJ
                            {% else %}
                                CPF
                            {% endif %}
                        </label>
                        <input type="text" class="form-control" id="identificacao" name="identificacao" 
                               placeholder="{% if voucher.tipo == 'ECNPJ' %}00.000.000/0000-00{% else %}000.000.000-00{% endif %}" 
                               required>
                        <div id="identificacaoError" class="text-danger" style="display: none;">Por favor, preencha o campo.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="saveIdentificacao">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% if erro %}
<script>
alert("{{ erro }}");
</script>
{% endif %}
<script>
    $(document).ready(function(){
        $('#telefone').mask('(00) 0 0000-0000');
        {% if voucher.tipo == 'ECNPJ' %}
            $('#identificacao').mask('00.000.000/0000-00', {reverse: true});
            $('#cnpj').mask('00.000.000/0000-00', {reverse: true});
        {% else %}
            $('#identificacao').mask('000.000.000-00', {reverse: true});
            $('#cpf').mask('000.000.000-00', {reverse: true});
        {% endif %}
        $('#cep').mask('00000-000');
        
        // Verifica se é ECNPJ e se o cliente existe/tem dados
        var isECNPJ = {% if voucher.tipo == 'ECNPJ' %}true{% else %}false{% endif %};
        var clienteExiste = {{ cliente|yesno:"true,false" }};
        var clienteTemDados = {% if cliente and cliente.nome_completo %}true{% else %}false{% endif %};
        
        // Só exibe o modal se for ECNPJ e o cliente não existir ou não tiver dados
        if (isECNPJ && (!clienteExiste || !clienteTemDados)) {
            $('#identificacaoModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        }

        // Buscar endereço quando o CEP for preenchido
        $('#cep').blur(function(){
            var cep = $(this).val().replace(/\D/g, '');
            if(cep.length == 8){
                $.ajax({
                    url: 'https://viacep.com.br/ws/'+ cep +'/json/',
                    type: 'GET',
                    success: function(data) {
                        if (!("erro" in data)) {
                            console.log(data);
                            $('#logradouro').val(data.logradouro);
                            $('#bairro').val(data.bairro);
                            $('#cidade').val(data.localidade);
                            $('#cod_ibge').val(data.ibge);
                            $('#uf').val(data.uf);
                            // Deixar o campo número em branco para o usuário preencher
                            $('#numero').val('');
                            // Foco no campo número
                            $('#numero').focus();
                        }
                    }
                });
            }
        });
    });

    document.getElementById('dataForm').addEventListener('submit', function(event) {
        if (!validateForm()) {
            event.preventDefault();
        } else {
            if (!confirm('Tem certeza de que deseja enviar o formulário?')) {
                event.preventDefault();
            }
        }
    });

    function validateForm() {
        var isValid = true;
        document.querySelectorAll('#dataForm [required]').forEach(function(element) {
            if (element.value.trim() === '') {
                alert(`Por favor, preencha o campo ${element.name}.`);
                isValid = false;
                return false;
            }
        });
        return isValid;
    }
</script>
</body>
</html>
