<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formulário</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        @media (max-width: 600px) {
            .container {
                padding: 10px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="mt-5">Preencha o Formulário</h2>

    <div class="progress mb-4">
        <div id="progressBar" class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <form id="dataForm" method="post" action="{% url 'form' slug=slug %}">
        {% csrf_token %}

        <div id="section1">
            <h3>Olá {{nome_completo}}, por favor complete seus dados</h3>
            <div class="form-group">
                <label for="nomeCompleto">Nome Completo</label>
                <input type="text" class="form-control" name="nomeCompleto" placeholder="Nome Completo" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="email@exemplo.com" required>
            </div>
            <div class="form-group">
                <label for="telefone">Telefone (Whatsapp)</label>
                <input name="telefone" type="tel" class="form-control" id="telefone" placeholder='(00) 0 0000-0000' required>
            </div>
            <div class="form-group">
                <label for="possui_cnh">Possui CNH?</label>
                <select class="form-control" name="possui_cnh" id="possui_cnh" required>
                    <option value="">Selecione uma opção</option>
                    <option value="sim">Sim</option>
                    <option value="nao">Não</option>
                </select>
            </div>
            <div class="alert alert-info" role="alert">
                <strong>Atenção:</strong> Você precisará apresentar seus documentos (RG ou CNH) à equipe que entrará em contato com você pelo WhatsApp.
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="cnpjModal" tabindex="-1" role="dialog" aria-labelledby="cnpjModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="{% url 'form' slug %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="cnpjModalLabel">Informe seu CNPJ</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="cnpj">CNPJ</label>
                        <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="00.000.000/0000-00" required>
                        <div id="cnpjError" class="text-danger" style="display: none;">Por favor, preencha o campo CNPJ.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="saveCnpj">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% if erro %}
<script>
alert("{{ erro }}");
</script>
{% endif %}
<script>
    $(document).ready(function(){
        $('#telefone').mask('(00) 0 0000-0000');
        $('#cnpj').mask('00.000.000/0000-00', {reverse: true});

        // Verifica se o cliente existe
        var clienteExistente = {{ cliente_existente|yesno:"true,false" }};
        if (!clienteExistente) {
            // Se o cliente não existir, exibe o modal
            $('#cnpjModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        }

        $('#cnpj').change(function(){
            var cnpj = $(this).val().replace(/[^0-9]/g, ''); // Remove non-numeric characters
            if (cnpj.length == 14) {
                $.ajax({
                    url: '{% url "get_empresa_data" %}',
                    type: 'GET',
                    data: {cnpj: cnpj},
                    success: function(data) {
                        $('input[name="nomeRazaoSocial"]').val(data.razao);
                        $('input[name="nomeFantasia"]').val(data.fantasia);
                        $('input[name="cep"]').val(data.cep);
                    }
                });
            }
        });
    });

    document.getElementById('dataForm').addEventListener('submit', function(event) {
        if (!validateForm()) {
            event.preventDefault();
        } else {
            if (!confirm('Tem certeza de que deseja enviar o formulário?')) {
                event.preventDefault();
            }
        }
    });

    function validateForm() {
        var isValid = true;
        document.querySelectorAll('#dataForm [required]').forEach(function(element) {
            if (element.value.trim() === '') {
                alert(`Por favor, preencha o campo ${element.name}.`);
                isValid = false;
                return false;
            }
        });
        return isValid;
    }
</script>
</body>
</html>
