{% load static %}
<div class="center">
    <small><a class="link" href="#">Home</a> <span>></span></small> 
</div>
<div class="mensagen">
    <div class="center mansagem_row">
        <p>Quer ajuda pra comprar seus exames? Envie seu pedido médico, <b>faça um orçamento e agende agora mesmo.</b></p>
        <a href="#">
            <div class="imagen_text">
                <img src="{% static '/img/iconwpp.png' %}" alt="">
                <span>Solicitar atendimento</span>
            </div>
        </a>
    </div>
</div>